<a href="https://colab.research.google.com/github/hnmelo/MujeresDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCCIÓN**

---
Para manejar un **código limpio en Python,** se deben seguir las siguientes recomendaciones:
1. Manejar siempre minúscula
2. Se les puede añadir números
3. Aparecerá error si no están seguidos la declaración de la variable con el número asignado, es decir, ejemplo: Ana1 **Es correcto**. Ana 1 **Es incorrecto**


---


En python hay varios tipós de datos, estos datos son compuestos y están disponibles por defecto en los intérpretes.
**¿De qué tipos?**
1. Numéricos
2. Secuencia
3. Mapeos
4. Conjuntos usados para agrupar otros valores
**Diferencia entre constantes y variables**
En matemáticas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: En contabilidad, Gastos fijos_ muebles de oficina.
Ejemplo 2: 6.
Pero por otro lado el concepto de variable la podemos definir como la cantidad que es susceptible a tomar distintos valores numéricos.
**Por ejemplo:**

In [ ]:
x=80
print(x)

80

**TIPOS DE DATOS**


---
**Enteros:**
1. Son los numeros que no tienen decimales.
2. Pueden ser positivos o negativos
3. Comando INT

In [ ]:
a=int(3)
print=(a)

El comando **Int** es para hacer alución a los números enteros, aparte el comando float permite valores con decimales

In [ ]:
b=float(5.69333)
print(b)

5.69333

**Tipo cadena**

---



---
Las cadenas de texto encerrado entre comillas "", pueden ser simples **''** o dobles **""**, y se pueden conformar de diferentes caracteres (Numéricos, alfabéticos o especiales(**#,$,+,*,%**); hay que tener en cuenta que con estas cadenas admiten operadores como la suma y la resta.
(Variables string).

In [ ]:
val2="Hola mundo"
print(val2)
val1="Helennnnnn"
print(val1)

Hola mundo
Helennnnnn

In [ ]:
n='aprender'
z='Python'
x='Aprender python'
print(n,z)
print(x)

aprender Python
Aprender python

**Tipo Booleanos:**


---
Este tipo de variables sólo tendrá un valor de verdadero o falso:
**Nota:**
Son valores muy usados en condiciones y bucles.

In [ ]:
lola=True
print("El valor es verdadero",lola, "el cual es de tipo",type(lola))

El valor es verdadero True el cual es de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionarios
**Tipos de conjuntos**
Son una colección de datos sin elementos que se repiten. **Ejemplo:**

In [ ]:
fruta='pera','naranja','mango'
print(fruta)
color='morado','azul','naranja'
print(fruta,color)

('pera', 'naranja', 'mango')
('pera', 'naranja', 'mango') ('morado', 'azul', 'naranja')

**Tipos de listas:**

---
Son listas las que almacenan vectores: Ejemplos de listas en python.

In [3]:
ines=['5','uva','lila','perro','botella','micro','camara','10']
print(ines)
fe=ines[0:2]

print(fe)

['5', 'uva', 'lila', 'perro', 'botella', 'micro', 'camara', '10']
['5', 'uva']

**Tipo tuplas**

---
Es una lista que no se puede modificar después de la creación de esta. tuplas anidadas= Agrupación(tuplas):

In [5]:
tupla=20,28,'hello'
print(tupla)
otra=tupla,(20,25,547)
print(otra)

(20, 28, 'hello')
((20, 28, 'hello'), (20, 25, 547))

**Tipo Diccionario**

---
Define los datos uno a uno dentro de un campo (ID - Identificador/clave) y una valor

In [14]:
datos_b={
    "nombre":"diana",
    "apellido":"perea",
    "cedula":"456685",
    "est_civil":"soltera feliz",
    "lu_nacimiento":"popayán",
    "fecha_nacimi":"25/08/2000",
}
print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())
print("Cédula de ciudadanía:",datos_b["cedula"])

ID del diccionario dict_keys(['nombre', 'apellido', 'cedula', 'est_civil', 'lu_nacimiento', 'fecha_nacimi'])
ID del diccionario dict_values(['diana', 'perea', '456685', 'soltera feliz', 'popayán', '25/08/2000'])
ID del diccionario dict_items([('nombre', 'diana'), ('apellido', 'perea'), ('cedula', '456685'), ('est_civil', 'soltera feliz'), ('lu_nacimiento', 'popayán'), ('fecha_nacimi', '25/08/2000')])
Cédula de ciudadanía: 456685

**Ejemplo práctico (Características de los carros)**
---

In [13]:
carro_0={}
carro_0['tam']='grande'
carro_0['color']='negro'
carro_0['marca']='BMW'
carro_0['precio']=200

carro_1={}
carro_1['tam']='pequeño'
carro_1['color']='azul'
carro_1['marca']='chevrolet'
carro_1['precio']=45

print(carro_0)
print(carro_1)

compra0=carro_0['precio']
compra1=carro_1['precio']
comprat=compra0+compra1

print("la compra total fue de: ",comprat)
print("la compra total fue de: "+ str(comprat))

{'tam': 'grande', 'color': 'negro', 'marca': 'BMW', 'precio': 200}
{'tam': 'pequeño', 'color': 'azul', 'marca': 'chevrolet', 'precio': 45}
la compra total fue de:  245
la compra total fue de: 245