<a href="https://colab.research.google.com/github/hnmelo/MujeresDigitales/blob/main/OPCIONAL_TALLER2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd
datos = pd.DataFrame(columns=['PAÍS','HABITANTES','ÁREA'], index=range(3))
datos.iloc[0] = ['Colombia',8,2]
datos.iloc[1] = ['Venezuela',5,3]
datos.iloc[2] = ['Perú',10,9]

In [90]:
datos

        PAÍS HABITANTES ÁREA
0   Colombia          8    2
1  Venezuela          5    3
2       Perú         10    9

In [91]:
alto = df.loc[0,'HABITANTES']

def poblacion(df):
    for i in range(1,len(df)):
      if df.loc[i,'HABITANTES'] > df.loc[i-1,'HABITANTES'] and df.loc[i,'HABITANTES'] > alto:
         df.loc[i,'POBLACIÓN'] = df.loc[i,'HABITANTES'] - alto
         alto = df.loc[i,'HABITANTES']
      else:
        df.loc[i,'POBLACIÓN'] = 0

    return (Df)

print(df)

         PAÍS HABITANTES ÁREA  DENSIDAD
0         NaN        NaN  NaN       NaN
1         NaN          0  NaN       NaN
2         NaN          0  NaN       NaN
DENSIDAD  NaN        NaN  NaN       NaN

In [66]:
def funcion(df):
    densidad_poblacion = 0
    poblacion = 0
    for x in df:
        habitantes = df.loc[:,'HABITANTES'] 
        area = df.loc[:,'ÁREA'] 
        densidad_poblacion = habitantes / area
    df.loc['DENSIDAD'] = densidad_poblacion
    
    return df

print(funcion(df))

         PAÍS HABITANTES ÁREA  DENSIDAD
0         NaN        NaN  NaN       NaN
1         NaN        NaN  NaN       NaN
2         NaN        NaN  NaN       NaN
DENSIDAD  NaN        NaN  NaN       NaN