<a href="https://colab.research.google.com/github/hnmelo/MujeresDigitales/blob/main/Taller_semana_3OPCION1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [3]:
import pandas as pd #importamos la libreria pandas como pd

In [39]:
pk = pd.read_csv('pokemon_data.csv')
#pk.head(30)

In [54]:
pk['interes'] = False #Indicamos que cree una columna "interes" con registros de "False"

In [123]:
mask1 = pk['Type 1'] == 'Fire' #Creamos una máscara en donde en la columna 1 sea igual a Fire y la guardamos en la variable

In [124]:
mask1 = pk['Type 1'] == 'Fire'
for i in pk:
    pk.loc[mask1],['Legendary' == True]
    pk['interes'] = True

pk.head(50)

     #                       Name Type 1  ... Generation Legendary interes
0    1                  Bulbasaur  Grass  ...          1     False    True
1    2                    Ivysaur  Grass  ...          1     False    True
2    3                   Venusaur  Grass  ...          1     False    True
3    3      VenusaurMega Venusaur  Grass  ...          1     False    True
4    4                 Charmander  Grass  ...          1      True    True
5    5                 Charmeleon  Grass  ...          1      True    True
6    6                  Charizard  Grass  ...          1      True    True
7    6  CharizardMega Charizard X  Grass  ...          1      True    True
8    6  CharizardMega Charizard Y  Grass  ...          1      True    True
9    7                   Squirtle  Grass  ...          1     False    True
10   8                  Wartortle  Grass  ...          1     False    True
11   9                  Blastoise  Grass  ...          1     False    True
12   9    BlastoiseMega Blastoise  Grass  ...          1     False    True
13  10                   Caterpie  Grass  ...          1     False    True
14  11                    Metapod  Grass  ...          1     False    True
15  12                 Butterfree  Grass  ...          1     False    True
16  13                     Weedle  Grass  ...          1     False    True
17  14                     Kakuna  Grass  ...          1     False    True
18  15                   Beedrill  Grass  ...          1     False    True
19  15      BeedrillMega Beedrill  Grass  ...          1     False    True
20  16                     Pidgey  Grass  ...          1     False    True
21  17                  Pidgeotto  Grass  ...          1     False    True
22  18                    Pidgeot  Grass  ...          1     False    True
23  18        PidgeotMega Pidgeot  Grass  ...          1     False    True
24  19                    Rattata  Grass  ...          1     False    True
25  20                   Raticate  Grass  ...          1     False    True
26  21                    Spearow  Grass  ...          1     False    True
27  22                     Fearow  Grass  ...          1     False    True
28  23                      Ekans  Grass  ...          1     False    True
29  24                      Arbok  Grass  ...          1     False    True
30  25                    Pikachu  Grass  ...          1     False    True
31  26                     Raichu  Grass  ...          1     False    True
32  27                  Sandshrew  Grass  ...          1     False    True
33  28                  Sandslash  Grass  ...          1     False    True
34  29           Nidoran (Female)  Grass  ...          1     False    True
35  30                   Nidorina  Grass  ...          1     False    True
36  31                  Nidoqueen  Grass  ...          1     False    True
37  32             Nidoran (Male)  Grass  ...          1     False    True
38  33                   Nidorino  Grass  ...          1     False    True
39  34                   Nidoking  Grass  ...          1     False    True
40  35                   Clefairy  Grass  ...          1     False    True
41  36                   Clefable  Grass  ...          1     False    True
42  37                     Vulpix  Grass  ...          1      True    True
43  38                  Ninetales  Grass  ...          1      True    True
44  39                 Jigglypuff  Grass  ...          1     False    True
45  40                 Wigglytuff  Grass  ...          1     False    True
46  41                      Zubat  Grass  ...          1     False    True
47  42                     Golbat  Grass  ...          1     False    True
48  43                     Oddish  Grass  ...          1     False    True
49  44                      Gloom  Grass  ...          1     False    True

[50 rows x 13 columns]

In [87]:
#mask2 = pk.loc[mask1],['Legendary' == True]

In [35]:
#pk.loc[mask1, 'Legendary'] = True #le indicamos al programa que en las filas donde se cumpla 
#mask1 y cambie el valor en la columna legendary a "True"

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [11]:
# Se agrupan los tipo 1 = 'fire' y la columna attack
T1 = pk.groupby(mask1)['Attack']

In [12]:
#Se saca la media (que es igual al promedio) de la variable
#El promedio que necesitamos es el de True, debido que es el que cumple la condición de mask1
T1.mean()

Type 1
False    78.600267
True     84.769231
Name: Attack, dtype: float64

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [13]:
dk = pd.read_csv('DUK.csv')

In [21]:
mascara = (dk['Date'] >= '2015-01-01') & (dk['Date'] <= '2016-01-01') #Máscara para guardar el rango de fechas
Open2015 = dk.loc[mascara,'Open'] #se guarda el loc donde cumpla el rango fecha en la columna open

In [30]:
Open2015.mean() #Se halla la media (promedio) de la variable

74.8137697698413