<a href="https://colab.research.google.com/github/hnmelo/MujeresDigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [3]:
import pandas as pd

In [5]:
pk = pd.read_csv('pokemon_data.csv')

In [10]:
pk['interes'] = False

In [31]:
mask1 = pk['Type 1'] == 'Fire'

In [34]:
pk.loc[mask1, 'Legendary'] = True

In [41]:
pk.loc[pk['Legendary'] == True]

              #                       Name  ... Legendary interes
4             4                 Charmander  ...      True   False
5             5                 Charmeleon  ...      True   False
6             6                  Charizard  ...      True   False
7             6  CharizardMega Charizard X  ...      True   False
8             6  CharizardMega Charizard Y  ...      True   False
...         ...                        ...  ...       ...     ...
797         720        HoopaHoopa Confined  ...      True   False
798         720         HoopaHoopa Unbound  ...      True   False
799         721                  Volcanion  ...      True   False
Legendary  True                       True  ...      True    True
Type 1     Fire                       Fire  ...      True    Fire

[114 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [ ]:
# Escriba su código aquí

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [ ]:
# Escriba su código aquí