<a href="https://colab.research.google.com/github/hnmelo/MujeresDigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [51]:
import pandas as pd

In [52]:
pk = pd.read_csv('pokemon_data.csv')

In [10]:
pk['interes'] = False

In [62]:
mask1 = pk['Type 1'] == 'Fire'

In [34]:
pk.loc[mask1, 'Legendary'] = True

In [41]:
pk.loc[pk['Legendary'] == True]

              #                       Name  ... Legendary interes
4             4                 Charmander  ...      True   False
5             5                 Charmeleon  ...      True   False
6             6                  Charizard  ...      True   False
7             6  CharizardMega Charizard X  ...      True   False
8             6  CharizardMega Charizard Y  ...      True   False
...         ...                        ...  ...       ...     ...
797         720        HoopaHoopa Confined  ...      True   False
798         720         HoopaHoopa Unbound  ...      True   False
799         721                  Volcanion  ...      True   False
Legendary  True                       True  ...      True    True
Type 1     Fire                       Fire  ...      True    Fire

[114 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [65]:
# Se agrupan los tipo 1 = 'fire' y la columna attack
T1 = pk.groupby(mask1)['Attack']

In [66]:
#Se saca la media (que es igual al promedio) de la variable
#El promedio que necesitamos es el de True, debido que es el que cumple la condición de mask1
T1.mean()

Type 1
False    78.600267
True     84.769231
Name: Attack, dtype: float64

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [67]:
pk = pd.read_csv('DUK.csv')

In [68]:
pk.head(15)

          Date       Open       High        Low      Close  Adj Close   Volume
0   2014-07-28  73.309998  74.480003  73.230003  74.389999  59.266285  3281100
1   2014-07-29  74.400002  74.480003  73.760002  73.980003  58.939648  2236300
2   2014-07-30  74.029999  74.199997  72.580002  73.050003  58.198696  2782200
3   2014-07-31  72.610001  73.099998  72.059998  72.129997  57.465740  3249000
4   2014-08-01  72.239998  73.370003  72.150002  72.940002  58.111061  3960200
5   2014-08-04  72.930000  72.970001  70.860001  72.199997  57.521515  4511200
6   2014-08-05  71.519997  72.199997  70.669998  70.980003  56.549545  3111600
7   2014-08-06  70.870003  70.900002  69.480003  69.839996  55.641300  7066800
8   2014-08-07  70.279999  71.570000  70.050003  70.599998  56.246799  3607400
9   2014-08-08  70.949997  71.769997  70.930000  71.750000  57.162991  2756900
10  2014-08-11  72.000000  72.250000  71.500000  71.580002  57.027554  2116800
11  2014-08-12  71.639999  71.919998  71.260002  71.379997  56.868210  2847600
12  2014-08-13  70.800003  71.120003  70.419998  70.930000  57.146164  2141900
13  2014-08-14  70.959999  72.099998  70.959999  72.080002  58.072697  3587200
14  2014-08-15  71.879997  72.699997  71.849998  72.089996  58.080738  2981800